body{
    background-color: #DAE0E6;
}

.allContentPost{
    border-radius: 20px;
    margin: 15px;
    background-color: white;
}
.imgAndNameDiv{
    display: flex;
    border-radius: 20px;
    background-color: #DAE0E6;
}
.userNameDiv{
    font-size: 18px;
    padding: 5px;
}
.imgUrl{
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
}
.userName{
padding: 10px;
}
.titleDiv{
    padding-left: 20px;
    margin: 12px;

}
.title{
}
.descriptionDiv{
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
}
.description{

}
.commentsDiv{
    margin: 12px;
    padding: 10px;
    padding-left: 20px;
    border-style: groove;
    border-radius: 20px;
}
.comments{
    font-size: 10px;
}