body{
    background-color: #DAE0E6;
}

.allContentPost{
    border-radius: 20px;
    margin: 15px;
    background-color: white;
}
.imgAndNameDiv{
    display: flex;
    border-radius: 20px;
    background-color: #DAE0E6;
}
.userNameDiv{
    font-size: 18px;
    padding: 5px;
}
.imgUrl{
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
}
.userName{
padding: 10px;
}
.titleDiv{
    padding-left: 20px;
    margin: 12px;

}
.title{
}
.descriptionDiv{
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
}
.description{

}
.commentsDiv{
    margin: 12px;
    padding: 10px;
    padding-left: 20px;
    border-style: groove;
    border-radius: 20px;
}
.comments{
    font-size: 10px;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: dodgerblue;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}
.titleDiv{
    margin: 10px;
}

.descriptionDiv{
    margin: 10px;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type=submit] {

    width: 50%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin: 2px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: dodgerblue;
  }
  
  div {
    border-radius: 5px;
  }

  .clearfix{
    display: flex;
    justify-content:center;
    justify-items: center;
  }