.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.allPostsDiv{
    width: 300px;
    margin: 20px;
    background-color: #e8edf1;
    border-radius: 20px;
}

.imgNameDiv{
    border-radius: 20px;
display: flex;
padding: 20px;
background-color: #DAE0E6;
width: 300px;
}
.imgUrl{
height: 50px;
width: 50px;
border-radius: 50%;
}
.userName{
padding-left: 10px;
}
.commentsDiv{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.title{
 padding: 10px;
 padding-left: 15px;
 font-size: 18px;
}
.description{
    padding-left: 5px;
 padding: 10px;
}
.commentDiv{

}
.commentTitle{
padding: 8px;
border-style: ridge;
 border-radius: 10px;
}